<ion-toolbar>
    <ion-header no-border>
        <ion-searchbar></ion-searchbar>
    </ion-header>
</ion-toolbar>
<ion-content [fullscreen]="true">

    <div class="container">
        <div class="product" *ngFor="let product of products">
            <div class="header">
                <ion-img *ngIf="product.icon" class="icon" [src]="product.icon"></ion-img>
                <h4>{{product.name}}</h4>
            </div>
            <p>{{product.description}}</p>
            <div class="footer">
            <p>v{{product.version}} by Ionic</p>
                <ion-button size="small">Install</ion-button>
            </div>
        </div>
    </div>
</ion-content>